<html>

<body>
    <div>
        <form action="post">
            <input type="text" name="text" placeholder="Input message" />
            <input type="text" name="tag" placeholder="Tag">
            <button type="submit">Add</button>
        </form>

    </div>
    <div>Message List</div>
    {{#messages}}
        <div>
        <b>{{id}}</b>
            <span>{{text}}</span>
            <i>{{tag}}</i>
        </div>
    {{/messages}}
</body>
</html>